{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form form-horizontal" action="{:url('admin/menu/add')}" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('superior menu')}</label>
                <div class="layui-input-inline w300">
                    <select name="parentid">
                        <option value="0">{:lang('as a first-level menu')}</option>
                        {$select_categorys|raw}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">{:lang('rule detail')}</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('name')}</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="title" autocomplete="off" lay-verify="required" placeholder="{:lang('name')}" class="layui-input">
                    <input type="text" name="tradition" autocomplete="off" lay-verify="required" placeholder="{:lang('tradition')}" class="layui-input">
                    <input type="text" name="eng_title" autocomplete="off" lay-verify="required" placeholder="{:lang('eng_title')}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('modular')}</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="app" autocomplete="off" placeholder="{:lang('modular')}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('controller')}</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="controller" autocomplete="off" placeholder="{:lang('controller')}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('method')}</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="action" autocomplete="off" placeholder="{:lang('method')}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('additional parameters')}</label>
                <div class="layui-input-inline w300">
                    <input type="text" name="parameter" autocomplete="off" placeholder="{:lang('additional parameters')}" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">{:lang('is it hidden')}</label>
                <div class="layui-input-inline w300">
                    <input type="checkbox" name="status" lay-skin="switch" lay-text="no|yes" value="1" checked="">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn ajax-post" lay-submit="" lay-filter="*" target-form="form-horizontal">{:lang('immediate submission')}</button>
                    <a class="layui-btn layui-btn-normal" href="{:url('admin/menu/index')}">{:lang('return')}</a>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
{/block}