{extend name="index_layout"/}
{block name="main"}
<style type="text/css">
.daoru{position:absolute;top:1px;right:-50px;height:35px}
.tupian{
  max-width:200px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.layui-table-cell{
  display:table-cell;
  vertical-align: middle;
}
</style>
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-form">
            
            <blockquote class="layui-elem-quote news_search">
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-sm" href="{:url('admin/member/add')}">{:lang('add member')}</a>
                </div>
                <div class="layui-input-inline" style="margin-left:30px;">
                   <form method="get" action="{:url('Member/index')}" class="form-signin" enctype="multipart/form-data">
                    <input type="text" name="search" placeholder="{:lang('email')}" autocomplete="off" class="layui-input">
                    <input type="submit" value="{:lang('search')}" class="layui-btn layui-btn-sm daoru">
                  </form>
                 </div>  
            </blockquote>
            <img alt="" style="display:none" id="displayImg" src="" />
            <table class="layui-table" lay-filter="table_monitor" lay-data="{id: '#table_monitor',page:true,limit:10}">
                <thead>
                    <tr>
                        <th lay-data="{field:'xuhao',width:80}">{:lang('serial number')}</th>
                        <th  lay-data="{field:'id'}">{:lang('account')}ID</th>
                        <th  lay-data="{field:'nickname'}">{:lang('nickname')}</th>
                        <th  lay-data="{field:'head_img_thumb',width:220}">{:lang('head_img')}</th>
                        <th  lay-data="{field:'email'}">{:lang('email')}</th>
                        <th  lay-data="{field:'lastlogin_time',width:180}">{:lang('last logon time')}</th>
                        <th  lay-data="{field:'create_time',width:180}">{:lang('register time')}</th>
                        <th  lay-data="{field:'update_time',width:180}">{:lang('update time')}</th>
                        <th  lay-data="{field:'edit',width:120}">{:lang('operation')}</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="Userlist" id="vo"}
                    <tr>
                        <td class="taleft">{$i}</td>
                        <td class="taleft">{$vo.id}</td>
                        <td class="taleft">{$vo.nickname}</td>
                        <td class="taleft">{if $vo['head_img_thumb']} <img title="show deteil" class="tupian" orgin_src="__UPLOADS__/{$vo.head_img}" src="__UPLOADS__/{$vo.head_img_thumb}">{else /}nothing{/if}</td>
                        <td class="taleft">{$vo.email}</td>
                        <td class="taleft">
                          {if $vo['lastlogin_time']}
                            {$vo.lastlogin_time|date='Y-m-d H:i:s'}
                          {else/}
                            Not yet logged in
                          {/if}
                        </td>
                        <td class="taleft">{$vo.create_time|date='Y-m-d H:i:s'}</td>
                        <td class="taleft">{$vo.update_time|date='Y-m-d H:i:s'}</td>
                        <td class="taleft">
                           <a class="layui-btn layui-btn-xs" lay-event="edit" href="{:url('admin/member/edit',['id'=>$vo.id])}">{:lang('operation')}</a>
                           <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('delete')}</a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            {$page|raw}
        </div>
    </div>
</div>
{/block} 
{block name="script"}

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">

$(document).on('click','.tupian',function(){
  var url = $(this).attr('orgin_src');
  $("#displayImg").attr("src", url);

  var height = $("#displayImg").height();//拿的图片原来宽高，建议自定义宽高
  var width = $("#displayImg").width();

  layer.open({
      type: 1,
      title: '查看大图',
      closeBtn: 1,
      shadeClose: true,
      area: ['1000px','800px'], //宽高
      content: "<img src=" + url + " />"
  });
});

layui.use(['table'], function(){
  var table = layui.table;

  //监听行工具事件
  table.on('tool(table_monitor)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    if(layEvent === 'edit'){
      window.location.href = "{:url('admin/member/edit')}"+'?id='+data.id;
    } else if(layEvent === 'del'){
      layer.confirm('确定删除用户吗?', function(index){
          
          layer.close(index);
          $.ajax({
            type : 'post',
            url  :  '{:url("member/del")}',
            dataType : 'json',
            data : {id:data.id},
            success : function(re){
              layer.closeAll();
              if(re.code == 1){
                layer.msg(re.msg,{icon:1});
                obj.del();
              }else{
                layer.msg(re.msg,{icon:2});return false;
              }
            }
          });
      });
    }

  });
});


  
 
</script>
{/block}